{% extends 'layout.html'%}
{% block body %}

<form action="/getLastMeasuresWeb" method="POST" class="form-group">
    <input type="text" name="cuantos" placeholder="Últimas mediciones...">
    <button type="submit">
        Últimas mediciones
    </button>
    <table class="table">
        <thead>
            <tr>
                <td>Id:</td>
                <td>Medicion:</td>
                <td>Fecha:</td>
                <td>Hora:</td>
                <td>Latitud:</td>
                <td>Longitud</td>
            </tr>
        </thead>
        <tbody>
            {% for medicion in mediciones %}
            <tr>
                <td>{{medicion['id']}}</td>
                <td>{{medicion['medicion']}}</td>
                <td>{{medicion['fecha']}}</td>
                <td>{{medicion['hora']}}</td>
                <td>{{medicion['localizacion_lat']}}</td>
                <td>{{medicion['localizacion_lon']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">
        Ver todas las mediciones
    </button>
</form>

{% endblock %}
