
body{
       
}



/********Header**************************/
.header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.logo{

    width:200px;
    height: auto;
    padding: 10px;
    margin-left: 20px;
    
}


nav.navbar {
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
    
}

nav.navbar ul.navbar-nav li.nav-item {
    
   padding: 10px;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    
   
   font-size: 20px;
    color: aliceblue;
    font-weight: bold;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
    
    color: lightgray;
   
}


/********LANDING**************************/
.containerInicio{
    background-image: url(../images/imagen-bus.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 1080px;
}

.containerLanding{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px; 
    color: aliceblue;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-top: 110px;
    
    
    
    
}
.containerLanding h1{
    font-size: 60px;
    font-weight: 500;
}
.containerLanding h2{
    font-size: 30px;
    font-weight:bold;
}
.containerBotonesLanding{
    margin-top: 40px;
    justify-content: center;
    display: flex;
    width: inherit;
    font-weight: bolder;
    font-size: 20px;
     
}
.containerBotonesLanding button{
    
    border: 2px solid white;
    border-radius: 30px;
    padding: 15px;
    transition-duration: 0.25s;
    transition-timing-function:linear;
    
    
    
}
.buttonLogInLanding{
    
    margin-right: 10px;
    background-color: transparent;
    color: aliceblue;
    
    
    
}

.buttonMapaLanding{
    
    margin-left: 10px;
    background-color: aliceblue;
    color:cadetblue; 
    font-weight: 600;
}

.buttonLogInLanding:hover{
    
    background-color: aliceblue;
    color: cadetblue;
    font-weight: 600;
    transition-duration: 0.25s;
    transition-timing-function:linear;
    cursor: pointer;
    
    
    
}
.buttonMapaLanding:hover{
    
    background-color: transparent;
    color: aliceblue;
    font-weight: 500;
    transition-duration: 0.25s;
    transition-timing-function:linear;
    cursor: pointer;
    
    
}

#btnLandingHaciaAbajo{
    margin-top: 100px;
    width: 50px;
    
}

#containerSobreNosotros{
    background-color: aqua;
    height: 1080px;
}
#containerContaminantes{
    background-color: brown;
    height: 1080px;
}

#aIrHaciaAbajo{
    width: 50px;
    
}
.containerHaciaAbajoLanding{
    margin-top: 100px;
    height: 300px;
}
/********LOGIN**************************/
.body-login{
    background-image: url(../images/imagen-bus.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 1080px;
}
.containerFormulario{
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
}
.containerLogin{

  width: 960px;
  background-color: aliceblue;
  border-radius: 10px;
  overflow: hidden;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 100px 50px 100px;
  align-self: center;

}
.imagenGrandeLogin img{
    width: 250px;
    margin-left: 20px;
    
}
.container-login{
   
    
    margin-left: 90px;
    
}
.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloFormularioLogin{
    font-family: 'Montserrat', sans-serif;
    color: cadetblue;
    font-size: 30px;
    margin-bottom: 30px;
}
.inputLogin{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.botonLogin{
    margin-top: 30px;
    border-radius: 20px;
    border: 2px cadetblue solid;
    background-color: cadetblue;
    color: aliceblue;
    transition-duration: 0.25s;
    transition-timing-function:linear;
    padding: 10px;
    cursor: pointer;
    width: 300px;
}
.botonLogin:hover{
    transition-duration: 0.25s;
    transition-timing-function:linear;
    background-color: transparent;
    color: cadetblue;
    cursor: pointer;
    
}
.inputTextoLogin{

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  
  border: none;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding:20px;
  margin-left: 10px;

}
.textoRegistroLogin{
    margin-top: 10px;
    color: grey;
}

/********MEDICIONES**************************/
.bodyMediciones{
    background-image: url(../images/imagen-bus.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 1080px;
}
.containerMapa{ 

  background-color: aliceblue;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  justify-content:center;
  padding: 50px 50px 50px 50px;
  align-self: center;

}
.containerTituloMapa{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    
}
.containerTituloMapa div{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.containerTituloMapa a{
   
    border: 1px cadetblue solid;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.25s;
    transition-timing-function:linear;
    box-shadow: 1.5px 1.5px 1.5px 0px;
    background-color: cadetblue;
}
.containerTituloMapa a:hover {
   
    background-color: aliceblue;
    transition-duration: 0.25s;
    transition-timing-function:linear;
    
}
.tituloMediciones{
    margin-left: 10px;
    color: cadetblue;
    font-family: 'Montserrat', sans-serif;
}
.imagenMapa{
    border-radius: 10px;
    width: 800px;
}
.botonPaginaMapa{
    
    border-radius: 20px;
    border: 2px cadetblue solid;
    background-color: cadetblue;
    color: aliceblue;
    transition-duration: 0.25s;
    transition-timing-function:linear;
    padding: 10px;
    cursor: pointer;
}
.botonPaginaMapa:hover{
    transition-duration: 0.25s;
    transition-timing-function:linear;
    background-color: transparent;
    color: cadetblue;
    cursor: pointer;
}

.containerMapaHijo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.containerMapaHijo div{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
    
}
.containerMapaHijo div p{
    margin: 0px;
    color: cadetblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.containerMapaHijo div select{
    border: 2px solid cadetblue;
    border-radius: 10px;
    padding: 8px;
}

/*pop up leyenda*/
.overlay { 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
    
  display: flex;
  justify-content: center;
}
.overlay:target{
  visibility: visible;
  opacity: 1;
}
#popupBody{
    
    height: 400px;
    margin-top: 100px;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    transition: all 5s ease-in-out;
    background-color: aliceblue;
    
}
.cabeceraPopUp{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.cabeceraPopUp div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.cabeceraPopUp div img{
    padding: 10px;

}
.cabeceraPopUp div h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 0px;
    color: cadetblue;

}
#cerrar{
    
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
    transition: all 200ms;
}
.popupContent{
    margin-top: 50px;
}
.popupContent ul li{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}
.popupContent ul li span{
    font-weight: 700;
}
/********USUARIO**************************/
.bodyUsuario{
    background-image: url(../images/imagen-bus.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 1080px;
}

.containerUsuario{

    width: 960px;
    background: aliceblue;
    border-radius: 10px;
    display: flex;
    
    justify-content: space-between;
    padding: 50px 50px 50px 50px;
    align-self: center;
  
  }
  .containerUsuario{
    
    margin-left: 90px;
    
  }
  .containerImagenGrandeYCambios{
      display: flex;
      flex-direction: column;
      
  }
  .containerImagenGrandeYCambios div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.containerImagenGrandeYCambios div a{
    padding: 10px;
}
  #textoCerrarSesionUsuario{
      color: red;
  }
  .imagenGrandeUsuario{
    width: 200px;
    margin-left: 20px;
  }
  .formUsuario{
    display: flex;
    flex-direction: column;
  }
  .tituloFormularioUsuario{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
    color: cadetblue;
  }
  .containerDatosUsuario{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .containerLabelsDatosUsuario div{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 5px;
  }
  .containerLabelsDatosUsuario div img{
    width: 20px;
    margin-right: 10px;
}
  .containerLabelsDatosUsuario p{
    margin: 0px;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: cadetblue;
    font-size: 20px;
}
.textosDatosUsuario{
    display: flex;
    flex-direction: column;
}
.textosDatosUsuario p{
    margin: 0px;
    padding: 5px;
    font-size: 20px;
    margin-left: 50px;
    color: grey;
}
#cerrarSesionA{
    color: darkred;
}

/****Registro*****************************/
.containerRegistro{

  width: 960px;
  background: aliceblue;
  border-radius: 10px;
  overflow: hidden;
  
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 50px 50px 50px;
  align-self: center;

}

.containerImagenGrandeRegistro{
    
}
.containerRegistroInputs{
    justify-content: center;
    text-align: center;
}
.formRegistro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.formRegistro div img {
    width: 24px;
}

