{% extends 'layout.html'%}
{% block body %}

<div class="container-usuario">
    
   
    <div class="containerUsuario">



        <div class="containerImagenGrandeYCambios">
            <img class="imagenGrandeUsuario" src="../static/images/perfil.png" alt="Imagen Del Usuario">
            <div>
                <a href="">Cambiar contraseña</a>
                <a href="">Cambiar nombre usuario</a>
                <a href="" id="textoCerrarSesionUsuario">Cerrar Sesión</a>
            </div>
            
        </div>

        <form class="formUsuario">
            
            <div class="containerTituloUsuario">
            
                <span class="tituloFormularioUsuario">
                    Mis Datos
                </span>
            </div>
                
            
            
            <div class="containerDatosUsuario">

                <div class="containerLabelsDatosUsuario">

                    <div>
                        <img src="../static/images/signo-de-arroba (1).png" alt="Imagen icono correo">
                        <p>Correo Electrónico:</p>
                    </div>
                    <div>
                        <img src="../static/images/key.png" alt="Imagen icono contraseña">
                        <p>Contraseña:</p>
                    </div>
                    <div>
                        <img src="../static/images/credit-card.png" alt="Imagen icono nombre">
                        <p>Nombre de usuario:</p>
                    </div>
                    <div>
                        <img src="../static/images/calendar.png" alt="Imagen icono edad">
                        <p>Edad:</p>
                    </div>
                    
                </div>
                <div class="textosDatosUsuario">
                    <p>test@gmail.com</p>
                    <p>estoesuntest123</p>
                    <p>Manolo123</p>
                    <p>27</p>
                </div>
                
            </div>
            


        </form>
    </div>
</div>

{% endblock %}